@mixin mq($size) {
    @media only screen and (max-width: $size+'px') {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .unset {
        all: unset;
        cursor: pointer;
        &:visited {
            color: #343434;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-bottom: 3em;
        min-height: 100vh;
        background: #fefefe;
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.6s ease;
            user-select: none;
            cursor: pointer;
            padding: 1em;
            position: relative;
            h1 {
                font-size: 3em;
                background: repeating-linear-gradient(15deg, #34ee45 6%, #f33933 10%, #3456aa 20%, #16d3da 35%, #3456aa 50%);
                -webkit-background-clip: text;
                color: transparent;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            h3 {
                position: absolute;
                font-size: 0.7em;
                color: #888;
                bottom: 1em;
            }
        }
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em auto;
            transition: all 0.3s linear;
            width: 50%;
            padding: 0 0 0 3em;
            color: #333;
            .searchTerm {
                flex: 20;
                font-size: 1.1em;
                background: #fefefe;
                position: relative;
                padding: 0.5em 1em;
                border-radius: 10px;
                border: 2px solid #343434;
                &:focus {
                    border-color: #3456aa;
                }
            }
            .search {
                flex: 1;
                padding: 0.5em;
                position: relative;
                font-size: 1.1em;
                right: 1.7em;
                cursor: pointer;
                transition: color 0.3s ease;
                &:hover {
                    color: #3456aa;
                }
            }
            .reset {
                flex: 0;
                position: relative;
                right: 1.7em;
                padding: 0.5em;
                font-size: 1.1em;
                cursor: pointer;
                transition: color 0.2s ease;
                visibility: hidden;
                opacity: 0;
                &:hover {
                    color: #f33933;
                }
                &.showrst {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        header.initial {
            font-size: 1.8em;
            margin-top: 20%;
            @include mq(600) {
                margin-top: 40%;
            }
        }
        form.initial {
            width: 80%;
        }
        .results {
            // background: #000;
            margin: 1em;
            padding: 1em;
            @include mq(600) {
                padding: 0.5em;
            }
            .error {
                color: #f33933;
            }
            & * {
                text-decoration: none;
            }
            .result {
                display: flex;
                flex-direction: column;
                color: #343434;
                margin: 1.5em;
                @include mq(600) {
                    margin: 5px!important;
                }
                transition: color 0.4s ease;
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                }
                &:hover {
                    color: #3456aa;
                    border-color: rgba(0, 0, 255, 0.2);
                }
                .title {
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .abstract {
                    display: flex;
                    margin: 10px 0;
                    font-size: 0.8em;
                    .img {
                        flex: 1;
                        @include mq(400) {
                            flex: 2;
                        }
                        overflow: hidden;
                        margin-right: 10px;
                        img {
                            // width: 100%;
                            object-fit: contain;
                        }
                    }
                    .summary {
                        flex: 10;
                    }
                }
            }
        }
        footer {
            user-select: none;
            position: fixed;
            display: flex;
            flex-direction: column;
            width: 100%;
            background: #fefefe;
            bottom: 0;
            gap: 5px;
            padding: 1em;
            justify-content: center;
            align-items: center;
            h5 {
                font-size: 0.8em;
                font-weight: normal;
                color: #888;
            }
            .fa-heart {
                color: #f33933;
                position: relative;
                &:after {
                    content: "\f004";
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    transform: scale(0);
                    transform-origin: bottom center;
                    opacity: 1;
                    animation: heart 2.5s ease infinite;
                    font-weight: 600;
                }
                @keyframes heart {
                    80% {
                        transform: scale(1);
                        opacity: 1;
                    }
                    to {
                        transform: scale(1.8);
                        opacity: 0;
                    }
                }
            }
        }
    }
}